<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Game Template File</title>
    <!-- <script src="js/main002.js"></script> -->
    <!-- <script src="js/main003.js"></script> -->
    <!-- <script src="js/main004.js"></script> -->
    <!-- <script src="js/main005.js"></script> -->
    <!-- <script src="js/main006.js"></script> -->
    <!-- <script src="js/main007.js"></script> -->
    <!-- <script src="js/main008.js"></script> -->
    <!-- <script src="js/main009.js"></script> -->
    <!-- <script src="js/main010.js"></script> -->
    <!-- <script src="js/main011.js"></script> -->
    <!-- <script src="js/main012.js"></script> -->
    <!-- <script src="js/main013.js"></script> -->
    <!-- <script src="js/main014.js"></script> -->
    <!-- <script src="js/main015.js"></script> -->
    <!-- TOPIC DEMOS BELOW... -->
    <script src="js/vectors.js"></script>
    
</head>
<!-- uncomment below for examples 003 onward -->
<body onload="init()">

<!-- uncomment below for example 002  -->
<!-- <body onload="draw()"> -->
<body>
    
</body>
<!-- 
Uncomment links below for examples 000 and 001.   
Code is read from top to bottom.  If the a JS function looks for an element
in the body and it hasn't been loaded yet, it will error. 
So we can have the JS file linked after the body is loaded when it is looking for elements
in the body.  The body of the document must be loaded first to 
access and append new elemnts with js, such as DIVs and the canvas.
The alternative is onload="somefunction()" in body tag, which calls a function
after the body has been loaded by the browser.  This will be used for 002
and up...
-->
<!-- <script src="js/main000.js"></script> -->
<!-- <script src="js/main001.js"></script> -->
</html>